@media only screen and (max-width: 1400px) {
    /* header */
    .header__img-2 {
        bottom: -11px;
        right: 560px;
        transform: rotate(105deg);
    }
}

@media only screen and (max-width: 1340px) {
    /* header */
    .header {
        padding-bottom: 1rem;
    }
    .left__base-header {
        width: 70% !important;
        align-items: center;
    }
    .left__base-header *:not(.version-header) {
        max-width: 100%;
    }
    .wrapper__base-header {
        flex-direction: column-reverse;
        text-align: center;
        justify-content: center;
        gap: 3rem;
    }
    .left__base-header, .right__base-header {
        flex-basis: unset;
    }
    .base-header__title {
        color: var(--primary__black) !important;
    }
    .base-header__image {
        max-width: 370px;
    }
    .header__img-1 {
        max-width: 120px;
        left: -75px;
        top: -0;
    }
    .header__img-2 {
        transform: rotate(5deg);
        max-width: 150px;
        bottom: -1px;
        right: -80px;
    }
}

@media only screen and (max-width: 800px) {
    /* header */
    .base-header__title {
        font-size: 70px;
    }
}

@media only screen and (max-width: 690px) {
    /* nav menu */
    .nav-menu {
        position: fixed;
        top: 0;
        left: -160px;
        bottom: -100000px;
        z-index: 999;
        flex-direction: column;
        background-color: var(--primary__white);
        gap: 0;
        box-shadow: 0 0 9px 0 var(--primary__white);
        transition: all 0.5s;
    }
    .nav-menu__link {
        display: block;
        padding: 18px 28px;
    }
    .open__nav-menu {
        display: block;
    }

    /* header */
    .left__base-header {
        align-items: center;
    }
    .base-header__title {
        font-size: 60px;
    }
    .base-header__text {
        font-size: 18px;
    }
    .base-header__buttons {
        gap: 5rem;
    }
}

@media only screen and (max-width: 540px) {
    /* header */
    .base-header__title {
        font-size: 52px;
        line-height: 70px;
    }
    .base-header__image {
        max-width: 320px;
    }
    .header__img-1 {
        max-width: 100px;
    }
    .header__img-2 {
        max-width: 110px;
    }
}

@media only screen and (max-width: 504px) {
    /* header */
    .left__base-header {
        width: 100% !important;
    }
    .base-header__text {
        font-size: 14px;
    }
    .base-header__buttons {
        flex-direction: column;
        gap: 1rem;
    }
    .base-header__buttons a:last-child {
        min-width: unset;
    }
}

@media only screen and (max-width: 440px) {
    /* header */
    .base-header__image {
        max-width: 250px;
    }
    .header__img-1, .header__img-2 {
        display: none;
    }
}

@media only screen and (max-width: 360px) {
    /* header */
    .base-header__title {
        font-size: 42px;
        line-height: 52px;
    }
    .base-header__image {
        max-width: 300px;
    }
}

@media only screen and (max-width: 288px) {
    /* header */
    .base-header__image {
        max-width: 260px;
    }
    .base-header__title {
        font-size: 36px;
    }
}

@media only screen and (max-width: 250px) {
    /* header */
    .base-header__image {
        max-width: 220px;
    }
    .base-header__title {
        font-size: 32px;
    }
}
